*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.main {
  width: 90vw;
  margin-inline: auto;
}

button,
input {
  border: 0;
  outline: 0;
}

.timer {
  margin-block: 15vh;
  margin-inline: auto;
  max-width: 80vw;
}

.timer__head {
  text-align: center;
  font-size: 2rem;
}

.timer__display {
  margin-block: 8vh;
  font-size: 3rem;
  text-align: center;
}

.timer__buttons {
  display: grid;
  margin-inline: auto;
  width: min(600px, 80vw);
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: max(1rem, 4vh);
  grid-template-areas:
    "play pause reverse"
    "stop reset what";
}

.timer__play,
.timer__pause,
.timer__reverse,
.timer__stop,
.timer__reset,
.timer__what {
  width: min(150px, 22vw);
  height: max(50px, 10vh);
  padding-block: .5rem;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
}

.timer__play {
  grid-area: play;
}

.timer__pause {
  grid-area: pause;
}

.timer__pause_paused {
  line-height: 0;
  text-indent: -9999px;
  background-color: darkred;
  color: white;
}

.timer__pause_paused::after {
  display: block;
  line-height: initial;
  text-indent: 0;
  content: "paused";
}

.timer__reverse {
  grid-area: reverse;
}

.timer__stop {
  grid-area: stop;
}

.timer__reset {
  grid-area: reset;
}

.timer__what {
  grid-area: what;
}

.timer__delay {
  display: flex;
  margin-block: 8vh;
  margin-inline: auto;
  width: min(600px, 80vw);
  justify-content: center;
}

.timer__delay > h3 {
  font-size: 2rem;
  padding-right: 1rem;
}

.timer__delay-input {
  padding-bottom: 15px;
  width: min(200px, 30vw);
  border-bottom: 1px solid gray;
  font-size: 2rem;
  text-align: center;
}