/* fonts */

@font-face {
  font-display: block;
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-display: block;
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* base design */

*,
*::before,
*::after {
  box-sizing: border-box; 
  margin: 0;
  padding: 0; 
}

:root {
  --pink-gradient: linear-gradient(99.59deg, #F473A3 3.39%, #FE5661 97.89%);
  --space: 12px;
  --dropdown: url("data:image/svg+xml;utf8,<svg viewBox='0 0 11 6 ' width='11' height='6' xmlns='http://www.w3.org/2000/svg'><g><path d='M6.17855 5.37318C5.79541 5.72711 5.20459 5.72711 4.82145 5.37318L0.882517 1.73455C0.213977 1.11698 0.650938 7.64892e-08 1.56107 5.65795e-10L9.43893 -6.56609e-07C10.3491 -7.32532e-07 10.786 1.11698 10.1175 1.73455L6.17855 5.37318Z' fill='white'/></g></svg>")
}

.body {
  max-width: 100%;
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: #161819;
  line-height: 150%;
  padding: 0;
  border: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.basic-format,
.main-container {
  margin: auto;
}

.basic-format {
  max-width: 100%;
}

.main-container {
  max-width: 1378px;
  padding: 0 144px 0 144px;
}

.menu,  
.search-results-nav, 
.next-page-button, 
.search-results-pages {
  display: flex;
}

/* header */

.menu {
  width: 300px;
  margin: 48px 0 40px 0;
  align-items: center;
  justify-content: space-between;
}

.menu-link {
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 150%;
}

.menu-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;         
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* search-block */

.search-block {
  display: flex;
  flex-direction: column;
  margin: 0 0 47px 0;
}

.search-block .heading {
  font-size: 48px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0;
}

.search-block .subheading {
  font-size: 20px;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-align: center;
  opacity: 0.5;
  margin: 20px 0 40px 0;
}

/* search-form */

.search-form {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 810px;
  max-width: 100%;
  height: 64px;
  background: #252728;
  border-radius: 10px;
}

.search-form .type-selector {
  display: flex; 
  background: var(--pink-gradient);
  margin: 7px 0 7px 20px;
  height: 50px;
  min-width: 120px;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
}

/* select style reset */
.search-form select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  outline: none;
}

.search-form .select {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1rem;
  background: var(--dropdown) no-repeat;
  background-position: right 0px top 50%;
  cursor: pointer;
}

.search-form .form-line {
  display: flex;
  width: 100%;
  margin: 15.5px 0 15.5px 29px;
  max-width: 580px;
  color: #fff;
}

.search-form .search-text {
  border: 0;
  width: 95%;
  background-color: #252728;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1rem;
  color: #FFFFFF40;
}

.search-form .search-text:focus-visible {
  outline: -webkit-focus-ring-color 0px;
  color: #ffffffbb;
}

.search-form .search-button {
  display: flex;
  background: url(./imgs/search.svg) no-repeat;
  width: 30px;
  height: 30px;
  margin: auto;
  padding-right: 62px;
  align-items: center;
  border: 0;
  cursor: pointer;
}

/* search-results */

.search-results-block {
  margin: 74px 0 0 0;
}

.search-results-block header {
  margin-left: var(--space);
}

.search-results-block .sort-selection,
.search-results-block .divider {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0.1rem;
}

.search-results-block .sort-selection {
  padding-right: 10px;
  opacity: 0.9;
}

.search-results-block .divider {
  opacity: 0.25;
  padding: 0 36px 0 26px;
}

.search-results-block .chosen-dot {
  background: url(./imgs/chosendot.svg) no-repeat;
  background-position: 100% 0;
}

.search-results-elements {
  display: flex;
  margin: 40px auto 0 auto;
}

.search-results-elements .card-wrapper {
  display: block;
  width: 30.77%;
  background: #1F2123;
  border-radius: 24px;
  margin: auto;
}

.search-results-elements .image-wrapper {
  display: flex;
  margin: 24px auto;
  width: 88.68%;
  background: #393A3E;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
}

.search-results-elements .element-imgs {
  max-width: 100%;
  padding: 32px 40px;
}

.search-results-elements .text-wrapper {
  margin: 24px auto;
  width: 88.68%;
  background: transparent;
  align-items: center;
  justify-content: center;
}

.text-wrapper .element-name {
  font-size: 32px;
  line-height: 150%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 24px;
}

.text-wrapper .element-description {
  font-size: 14px;
  opacity: 0.6;
  text-align: center;
}

.search-results-elements .download-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 24px 0;
}

.search-results-elements .download-text {
  font-size: 24px;
  opacity: 0.5;
  text-align: center;
  text-decoration: underline;
}

.search-results-elements .download-button { 
  /* Как лучше вставлять кнопку, как здесь или как на строках 361-365? 
  Тут бэкграундом, там отдельным дивом */
  background: url(./imgs/dwnld.svg) no-repeat;
  background-size: 23.25px auto;
  background-position: 100% 0;
  padding-right: calc(23.25px + 12px);
  opacity: 1;
}

/* search results navigation */

.search-results-nav {
  display: flex;
  justify-content: flex-end;
  margin: 70px auto;
  padding-bottom: 70px;
}

.next-page-container {
  position: absolute;
  left: calc(50% - 121px);
}

.next-page-button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 24px;
width: 242px;
height: 76px;
background: #252728;
border-radius: 10px;
border: 0;
}

.next-page-button .button-text {
  display: inline;
  font-family: 'Poppins';
  letter-spacing: 0.1rem;
  color: #fff;
  font-size: 24px;
  padding: 0 18px 0 0;
}

.next-page-button .button-arrow {
  display: inline;
  content: url(./imgs/bigarrow.svg);
  width: 28px;
}

.search-results-pages {
  display: flex;
  align-items: center;
  width: 246px;
  height: 76px;
  position: relative;
  padding-right: var(--space);
}

.pages-text {
  font-size: 18px;
  opacity: 0.25;
}

.prev-page-arrow,
.next-page-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: #1F2123;
  border-radius: 6px;
  font-size: 28px;
  opacity: 0.5;
}

.prev-page-arrow {
  margin-left: var(--space);
}

.next-page-arrow {
  margin-right: var(--space);
}

.page-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background: #393A3E;
    border-radius: 6px;
    margin: 0 4px 0 4px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
}

/* adaptive design */

@media (max-width: 767px) {
  .main-container {
    padding: 0 20px 0 20px;
  }

  .menu,
  .search-results-elements,
  .search-results-nav {
    flex-direction: column;
  }

  .menu {
    margin: 48px auto 40px auto;
  }

  .search-block .heading,
  .text-wrapper .element-name {
    font-size: 1.6em;
  }

  .search-block .subheading {
    font-size: 1em;
  }

  .search-form {
    max-width: 100%;
    width: 510px;
  }

  .search-form .form-line {
    margin: 15.5px 0 15.5px 15.5px;
  }

  .search-results-block header {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .search-results-elements .card-wrapper {
    width: 80%;
    margin: 0 auto 48px auto;
  }

  .search-results-nav {
    padding-right: 0;
    margin: 12px auto 24px auto;
  }

  .next-page-button {
    display: block;
    margin: 0 auto 0 auto;
  }

  .search-results-pages {
    position: relative;
    top: 100px;
    left: calc(50% - 121px);
  }
}

@media (min-width: 768px) {  
  .main-container {
    padding: 0 40px 0 40px;
  }

  .menu,
  .search-results-elements {
    flex-direction: row;
  }

  .search-results-elements .element-imgs {
    max-width: 160px;
    padding: 12px 20px; 
  }

  .text-wrapper .element-name {
    font-size: 1.7em;
  }

  .search-results-nav {
    padding-right: 0;
    flex-direction: column;
  }

  .next-page-button {
    display: block;
    margin: 0 auto 0 auto;
  }

  .search-results-pages {
    position: relative;
    top: 100px;
    left: calc(50% - 121px);
  }
}

@media (min-width: 992px) { 
  .main-container {
    padding: 0 50px 0 50px;
  }

	.menu,
  .search-results-nav {
    flex-direction: row;
  }

  .search-results-elements .element-imgs {
    max-width: 250px;
    padding: 32px 40px;
  }

  .text-wrapper .element-name {
    font-size: 32px;
  }

  .search-results-pages {
    top: 0;
    left: 0;
  }
}

@media (min-width: 1200px) { 
  .main-container {
    padding: 0 144px 0 144px;
  }

  .search-results-elements .element-imgs {
    max-width: 100%;
    padding: 32px 40px;
  }

  .text-wrapper .element-name {
    font-size: 32px;
  }

  .search-results-pages {
    top: 0;
    left: 0;
  }
}

@media (min-width: 1600px) { 
  .menu {
    flex-direction: row;
  }

  .search-results-elements .element-imgs {
    max-width: 100%;
    padding: 32px 40px;
  }

  .text-wrapper .element-name {
    font-size: 32px;
  }

  .search-results-pages {
    top: 0;
    left: 0;
  }
}